:root {
  background-color: #15202b;
  margin: 0;
  padding: 0 15%;
  font-family: "Roboto", sans-serif;
}

.nav-bar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: medium;
  font-weight: 600;
  height: 58px;
  border-radius: 6px;
  background-color: #343a40;
}

li {
  list-style-type: none;
}
a {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
}

a:hover {
  color: #fff;
  text-decoration: underline;
}

.display-tweet-box {
  display: flex;
  justify-content: center;
  margin: 0;
}

.tweet-box {
  position: relative;
  margin: 4% 0;
  height: 15rem;
  width: 70%;
  border: 2px solid #cccccc;
  box-sizing: border-box;
  border-radius: 6px;
}

textarea {
  margin: 2%;
  width: 95%;
  height: 80%;
  background-color: #15202b;
  color: #fff;
  border: none;
  resize: none;
  box-sizing: border-box;
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 1.2rem;
  line-height: 19px;
}

.tweet-btn {
  position: absolute;
  right: 1%;
  bottom: 6%;
  width: 68px;
  height: 34px;
  border: none;
  background: #007bff;
  border-radius: 4px;
  color: #fff;
  font-weight: 600;
}

.tweet-btn:disabled {
  background-color: grey;
}

.max-charac-msg {
  display: none;
  position: absolute;
  left: 1%;
  bottom: 6%;
  margin: 0;
  background-color: #f8d7da;
  color: #721c24;
  font-size: 11px;
  font-weight: 400;
  height: 34px;
  width: 32%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f8d7da;
  border: 1px solid #f5c6cb;
  box-sizing: border-box;
  border-radius: 4px;
}

.display-tweet-list {
  display: flex;
  justify-content: center;
}

.tweet-msg {
  display: flex;
  flex-direction: column;
  background: #343a40;
  height: 10rem;
  width: 70%;
  box-sizing: border-box;
  border-radius: 6px;
  margin: 2%;
}

.tweet-msg-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1%;
  color: #6c757d;
}

.tweet-msg-text {
  display: flex;
  justify-content: flex-start;
  margin: 1%;
  color: #fff;
}

.max-charac-msg {
  display: none;
}

.page-loader {
  display: flex;
  justify-content: center;
}
.display-profile-box {
  display: flex;
  justify-content: center;
}

.profile-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.profile-text {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.profile-H2-wrapper{
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin-left: 30%;
}
.profile-H4-wrapper{
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin-left: 30%;
}

.profile-H2 {
  margin: 6% 0 2% 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 42px;
  color: #fff;
}

.profile-H4 {
  margin: 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: rgba(255, 255, 255, 0.8);
}

.profile-box-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

.profile-box {
  display: flex;
  align-items: center;
  margin: 1% 0;
  height: 3rem;
  width: 70%;
  border: 2px solid #cccccc;
  box-sizing: border-box;
  border-radius: 6px;
}

.profile-input {
  background-color: #15202b;
  color: #fff;
  height: 2rem;
  width: 100%;
  border: none;
  box-sizing: border-box;
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 1.2rem;
  line-height: 19px;
}

.profile-btn-wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.profile-btn {
  margin-right: 18%;
  width: 68px;
  height: 34px;
  border: none;
  background: #007bff;
  border-radius: 4px;
  color: #fff;
  font-weight: 600;
}
